body {
    background-color: lemonchiffon;
}

.home-page h1 {
    font-family: "Brush Script MT", "Lucida Handwriting", serif;
    text-align: center;
    font-size: 50px;
    color: black;
    width: 500px;
    height: auto;
    margin: auto;
}

.recipes, h1 {
    text-align: center;
}

.center, .steps {
    max-width: 570px;
    text-align: center;
    padding-left: 300px;
}

img {
    display: block;
    margin: auto;
    height: 300px;
    width: auto;
}

.list {
    font-family: "Copperplate", Helvetica, sans-serif;
    color: green;
    font-size: 20px;
    margin-top: 30px;
    list-style: none;
}

.list-recipe {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu {
    padding: 10px;
}